:root {
  --primary-color: #4AA8F8;
  --dark-color: #1A3953;
  --accent-color: #F65751;
  --light-color: #DFF0FF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px #fff solid; */
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Utilities */

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Bakbak One', 'Inter';
}

h2 {
  font-size: 54px;
  font-weight: 300;
}

h3.accent {
  color: var(--accent-color);
}

h3 {
  font-size: 32px;
  font-weight: 200;
}

p {
  font-size: 16px;
}

.btn {
  cursor: pointer;
}

.book-button a {
  display: flex;
  font-family: 'Bakbak One', 'Inter', sans-serif;
  color: #fff;
  font-size: 28px;
  background: var(--primary-color);
  padding: 5px 25px;
  border-radius: 15px;
  border: #fff solid 3px;
}

form .form-search {
  width: 706px;
  max-width: 100%;
  position: relative;
  margin: 20px 0 5px 0;
}

form .form-search input{
  height: 56px;
  width: 100%;
  border-radius: 15px;
  border: #4C7496 1px solid;
  font-style: italic;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  padding-left: 60px;
  padding-right: 210px;
}

input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}

form .form-search button {
  position: absolute;
  right: 0;
  height: 56px;
  width: 200px;
  border-radius: 15px;
  border: #4C7496 1px solid;
  background-color: var(--accent-color);
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
}

form .form-search img{
  position: absolute;
  top: 8px;
  left: 10px;
}

.add-clinic {
  text-decoration: underline;
  color: #AAA;
  font-size: 14px;
}

/* Header */

header {
  background: var(--dark-color);
  padding: 10px 200px;
  border-bottom: var(--accent-color) 5px solid;
  width: 100%;
  position: fixed; /*Stays at the top of the screen */
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: flex;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li a {
  font-family: 'Bakbak One', 'Inter', sans-serif;
  color: #fff;
  padding: 15px; 
}

/* Section B */
.section-b{
  background-color: var(--light-color);
  position: relative;
  top: 200px;
  color: var(--dark-color);
}

.section-b .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-b h3 {
  margin-top: 20px;
}

.section-b h2 {
  margin-bottom: 40px;
}

.section-b .steps {
  display: flex;
}

.section-b .steps div {
  flex: 1;
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;

}

.section-b .steps h3 {
  margin-bottom: 20px;
}



/* Hover and Animations */

header nav .topheader a:hover {
  color: var(--primary-color);
  transition: color 0.5s ease-in-out;
}

header .book-button a:hover {
  background: var(--accent-color); 
  transition: color 0.5s ease-in-out;
}
