:root {
  --primary-color: #4AA8F8;
  --dark-color: #1A3953;
  --accent-color: #F65751;
  --light-color: #DFF0FF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px #fff solid; */
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.0;
}

ul {
  list-style: none;
}

header {
  background: var(--dark-color);
  padding: 0 200px;
  border-bottom: var(--accent-color) 5px solid;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 10px;
}

header .container {
  display: flex;
  justify-content: space-between;
}



.hero {
  background-color: var(--light-color);
  padding: 150px;
  padding-left: 300px;
}

.containers {
  max-width: 2000px;
  margin: 0 auto;
}

.hero-content {
  display: flex;
  align-items: center;
}

.hero-headline {
  margin-right: 50px;
  font-family: 'Bakbak One';
  
  font-weight: normal;
  color: var(--dark-color);
  background-color: var(--light-color);
  font-size: 64px;
  
}

.hero-image {
  padding-left: 8vw;
  max-width: 1400px;
}


header nav {
  display: flex;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li a {
  font-family:'Bakbak One', 'Inter', sans-serif;
  text-decoration: none;
  color: #fff;
  padding: 15px; 
}

.topheader li a:hover{
  color: var(--primary-color);
  transition: color 0.1s ease-in-out;
}

.book-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  font-family: 'Bakbak One';
  font-size: 24px;
  border-radius: 5px;
  margin-right: 15px;
  /*border: white solid 3px;>*/
}

.book-button a:hover{
  color: #1A3953;
  transition: color 0.1s ease-in-out;
  
}

#walk-in{
  color: var(--primary-color);
}

.benifits{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;

}

.benifits-headline{
  font-family: 'Bakbak One';
  font-weight: normal;
  font-size: 54px;
  max-width: 1200px;
  text-align: center;
  color: var(--dark-color);
}