:root {
  --primary-color: #4AA8F8;
  --dark-color: #1A3953;
  --accent-color: #F65751;
  --light-color: #DFF0FF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--dark-color);
  border-bottom: var(--accent-color) solid 5px;
  
}

.logo img {
  height: 45px; /* Adjust the height as per your logo size */
  margin-left: 150px;
}

.topheader {
  list-style: none;
  display: flex;
}

.topheader li:not(:last-child) {
  margin-right: 10px;
}

.topheader a, .book-button a, .hero{
    font-family: 'Bakbak One';
}

.topheader li a {
  
  font-size: 20px;
  text-decoration: none;
  color: white;
  
}

.topheader li a:hover{
  color: var(--primary-color);
  transition: color 0.1s ease-in-out;
}

.book-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #55ADF8;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  border-radius: 5px;
  margin-right: 15px;
  /*border: white solid 3px;>*/
}

.book-button a:hover{
  color: #1A3953;
  transition: color 0.1s ease-in-out;
  
}

.hero{
  color: var(--dark-color);
  background-color: var(--light-color);
  padding: 9vw;
  font-size: 34px;
}

#walk-in{
  color: var(--primary-color);
}